.galleryjs {
	display: block;
}

.galleryjs .galleryjs-preview {
	height: 500px;
	width: inherit;
	position: relative;
}

.galleryjs .galleryjs-preview .galleryjs-desc {
	position: absolute;
	opacity: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	color: #f2f2f2;
	transition: 0.5s;
}

.galleryjs .galleryjs-preview .galleryjs-desc.galleryjs-focused {
	opacity: 1;
}

.galleryjs .galleryjs-preview img {
	height: 100%;
	width: auto;
	margin: auto;
	display: block;
}

.galleryjs .galleryjs-thumbnail {
	height: 64px;
	width: 64px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	filter: brightness(75%);
	transition: 0.5s;
	float: left;
	margin-right: 8px;
}

.galleryjs .galleryjs-thumbnail:hover {
	cursor: pointer;
	filter: brightness(100%);
}
