* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #333;
}
#container {
	width: 100%;
	margin: auto;
	padding: 0 8px;
}

@media screen and (min-width: 400px) {
	#container {
		width: 400px;
	}
}
@media screen and (min-width: 640px) {
	#container {
		width: 600px;
	}
}
@media screen and (min-width: 960px) {
	#container {
		width: 900px;
	}
}
@media screen and (min-width: 1280px) {
	#container {
		width: 1200px;
	}
}
